<div class="card">
  <div class="card-body"><h2>Login</h2></div>
  <div class="input-group">
    <input
      type="email"
      class="form-control"
      placeholder="Username"
      aria-label="First name"
    />
    <span class="input-group-text">
      <span class="bi-person"></span>
    </span>
  </div>
  <div class="pass">
    <input
      type="password"
      class="form-control"
      placeholder="Password*"
      aria-label="First name"
    />
    <button class="icon_2"><i class="bi bi-eye-slash"></i></button>
  </div>
  <div class="last">
    <button type="button" class="btn btn-light">
      <a href="register" class="register">Register</a>
    </button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-light">
      <a href="forgot-password" class="forgot">Forgot-password</a>
    </button>
  </div>
</div>
